@mixin nested_list($nested_class, $last_list, $depth:'', $depth_class:'')
  @if $depth_class != ''
    $depth_class: #{'-'}#{$depth_class}
  @for $i from 1 through $last_list        
    #{'.'}#{$nested_class}#{'-'}#{$i}#{$depth_class}
      counter-reset: #{$nested_class}#{'-'}#{$i}#{$depth_class}
      >li
        list-style-type: none
        &:before
          counter-increment: #{$nested_class}#{'-'}#{$i}#{$depth_class}            
          content: #{"'"}#{$i}#{$depth}#{".'"} counter(#{$nested_class}#{'-'}#{$i}#{$depth_class}) " "

