/* line 10, ../sass/nested_list.sass */
.nested-1 {
  counter-reset: nested-1;
}
/* line 12, ../sass/nested_list.sass */
.nested-1 > li {
  list-style-type: none;
}
/* line 14, ../sass/nested_list.sass */
.nested-1 > li:before {
  counter-increment: nested-1;
  content: '1.' counter(nested-1) " ";
}

/* line 10, ../sass/nested_list.sass */
.nested-2 {
  counter-reset: nested-2;
}
/* line 12, ../sass/nested_list.sass */
.nested-2 > li {
  list-style-type: none;
}
/* line 14, ../sass/nested_list.sass */
.nested-2 > li:before {
  counter-increment: nested-2;
  content: '2.' counter(nested-2) " ";
}

/* line 10, ../sass/nested_list.sass */
.inner-nested-1-15-one {
  counter-reset: inner-nested-1-15-one;
}
/* line 12, ../sass/nested_list.sass */
.inner-nested-1-15-one > li {
  list-style-type: none;
}
/* line 14, ../sass/nested_list.sass */
.inner-nested-1-15-one > li:before {
  counter-increment: inner-nested-1-15-one;
  content: '1.1.' counter(inner-nested-1-15-one) " ";
}

/* line 10, ../sass/nested_list.sass */
.inner-nested-2-15-one {
  counter-reset: inner-nested-2-15-one;
}
/* line 12, ../sass/nested_list.sass */
.inner-nested-2-15-one > li {
  list-style-type: none;
}
/* line 14, ../sass/nested_list.sass */
.inner-nested-2-15-one > li:before {
  counter-increment: inner-nested-2-15-one;
  content: '2.1.' counter(inner-nested-2-15-one) " ";
}
